name: Build and Deploy Docker Image

on:
  push:
    tags:
      - 'release-*'  # 匹配以xxx开头的标签，如xxx1.0, xxx2.0.1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 步骤1：检出代码
      - name: Checkout code
        uses: actions/checkout@v4
      
      # 步骤2：设置Docker环境
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      # 步骤3：构建Docker镜像
      - name: Build Docker image
        run: |
          docker build -t app:${{ github.ref_name }} .
      
      # 步骤4：将Docker镜像打包为tar文件
      - name: Save Docker image to tar
        run: |
          docker save -o app-image.tar app:${{ github.ref_name }}
      
      # 步骤5：将tar文件推送到远程服务器
      - name: Upload Docker image tar to remote server
        uses: appleboy/ssh-action@master
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.SSH_HOST }}
          REMOTE_USER: ${{ secrets.SSH_USER }}
          REMOTE_PORT: ${{ secrets.SSH_PORT }}
          SOURCE: "app-image.tar"
          TARGET: ${{ secrets.REMOTE_TARGET }}
          script: |
            mkdir -p ${{ secrets.REMOTE_TARGET }}
            rsync -avzr --delete --rsync-path="env -i rsync" app-image.tar ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ secrets.REMOTE_TARGET }}
      # 步骤6：在远程服务器上加载Docker镜像
      # - name: Load Docker image on remote server
      #   uses: appleboy/ssh-action@master
      #   with:
      #     REMOTE_HOST: ${{ secrets.SSH_HOST }}
      #     REMOTE_USER: ${{ secrets.SSH_USER }}
      #     SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      #     script: |
      #       cd ${{ secrets.REMOTE_TARGET }}
      #       docker load -i app-image.tar
      #       # 可选：运行容器
      #       # docker run -d -p 80:80 app:${{ github.ref_name }}
