name: "构建和部署到远程服务器"
# 当有新的以release-开头的tag发布时，触发构建和部署
on:
  push:
    tags:
      - 'release-*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: " - 检出代码"
        uses: actions/checkout@v4

      - name: " - 截取版本号"
        id: get_version
        run: |
          FULL_TAG=$(git describe --tags --abbrev=0)
          VERSION=${FULL_TAG#release-}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "IMAGE_TAG=${{ secrets.DOCKER_IMAGE_NAME }}:${VERSION}" >> $GITHUB_OUTPUT

      - name: " - 构建Docker镜像"
        run: |
          docker build -t ${{ steps.get_version.outputs.IMAGE_TAG }} .

      - name: " - 将Docker镜像打包为tar文件"
        id: packaged_image
        run: |
          IMAGE_TAR_NAME="${{ secrets.DOCKER_IMAGE_NAME }}-${{ steps.get_version.outputs.VERSION }}.tar"
          docker save ${{ steps.get_version.outputs.IMAGE_TAG }} -o ${IMAGE_TAR_NAME}

      - name: " - 使用SCP上传到远程服务器"
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ${{ steps.packaged_image.outputs.IMAGE_TAR_NAME }}
          target: ${{ secrets.REMOTE_TARGET}}

      - name: " - 在远程服务器上加载 Docker 镜像"
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            IMAGE_FILE="${{ secrets.REMOTE_TARGET }}/${{ steps.packaged_image.outputs.IMAGE_TAR_NAME }}"
            echo "==> 正在加载 Docker 镜像: ${IMAGE_FILE}"
            docker load -i ${IMAGE_FILE}